.App {
  text-align: center;
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgba(45, 104, 241, 0.823);
}
.About{
  text-align: left;
}
 .subtitle, .link, .text{
  color: aqua;
}

.linkscontainer{
  background-color: black; 

}
.cipher{
height: 160px;
width: 250px;
border: rgb(2, 10, 35) 4px solid;
} 
.rick{
height: 160px;
width: 250px;
border: rgb(2, 10, 35) 8px solid;
} 
.mdlink{
height: 160px;
width: 250px;
border: rgb(2, 10, 35) 8px solid;
}
 .burger{
height: 250px;
width: 160px;
border: rgb(2, 10, 35) 8px solid;
}

nav{
display: flex;
justify-content: space-between;
background-color: rgb(88,7,107);
background-image: url("https://i.ibb.co/LQYB7X6/pollo-3.jpg");
background-size: cover;
align-items: center;
padding-top: 3%;
padding-left: 3%;
padding-right: 3%;
padding-bottom:3%;
font-size: 130%;
}
nav ul{
  list-style: none;

}
nav ul li{
  display: inline-block;
 
}
nav ul li :hover{
  -webkit-box-shadow: 0px 0px 15px 13px #000000; 
  box-shadow: 0px 0px 15px 13px #1d9ec2;
}

  
nav ul li a{
  color: aqua;
}
.buttonStyle{
  background-color: transparent;
  border: transparent;
  font-size: 21px;
}
.text{
  font-size: 17px;
}
.contact{
  background-color: black;
  text-align: center;
  color:rgb(131, 160, 160);
}
.icon{
  width: 200px;
  height: 200px;
}
.contactbg{
 height: 200px;
 width: 200px;
 padding-left: 65%
  ;
}
.About, .linkscontainer, .contact, .skills, .useless, .home{
  color: rgb(131, 160, 160);
  text-align: center;
}
.tex{
  margin-left: 20px;
  width: 60%;
  text-align: left;
  color:rgb(131, 160, 160);
  vertical-align: top;
}
.home ul li , .contact ul li{
  display: inline-block;
}

.href{
  color: rgb(131, 160, 160);
}
.footer{
  margin-top: 29%;
}
.background{
  margin: 20px;
  width: 300px;
  height: 300px;
}

.useless{
  text-align: center;
}
#flip-container{
  -webkit-perspective: 1000;
  perspective: 1000;
  padding: 500px;
  position: relative;
  margin: 10px auto;
  width: 500px;
}
.card {
  position: relative;
  width: 300px;
  height: 300px;
  transition: 1s;
  transform-style: preserve-3d;
  transform-origin: 100% 50%;
  margin: 5px;
}
.card:hover, .card.flip{
  transform: rotateX(180deg);
}
.front, .back{
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: center;
  
}
.front{
  transform: rotateX(0deg);
  z-index: 2;
  background-color:  rgba(42, 42, 42, 0.5);
  color: #FFF;
  font: 1em/1.8em Arial;
  display: flex;
  align-items: center;
  justify-content: center;

}
.back{
  transform: rotateX(180deg);
  background-color:  rgba(42, 42, 42, 0.5);
  color: #656363;

}
.flip-container ul{
  list-style: none;

}
.flip-container ul li{
  display: inline-block;
  margin-right: 8px;
  width:300px;
  height: 300px;
}
#img{
  height: 300px;
}
#imgw{
  width: 300px;
}
#imgx{
  width: 600px;
}

.About, .skills .linkscontainer{
  position: relative;
}
.About ul, .skills ul{
  list-style: none;
  margin-right: 0px;
  margin-left: 0px;
}
.skills{
 
 background-repeat: no-repeat;
 background-size: 85%;
 background-position: center;
}
.skills div h1{
    margin-left: 55px;
  margin-right: 55px;
}
 .skills ul li{
  display: inline-block;
  margin-right: 3%;
  margin-left: 0%;
  width:20%;
  height: 30%;
  text-align: justify;
  font-size: 18px;
  vertical-align: top;
  color: #000;
  font-weight: bold;
  background-color: rgb(128, 128, 128, 0.5);
}
.soft{
  color: rgb(131, 160, 160);
}

.ad{
  
  color: rgb(131, 160, 160);
}
.small{
  display: inline-block;
  margin-right: 3%;
  margin-left: 3%;
  width:25%;
  height: 300px;
  text-align: justify;
  font-size: 18px;
  vertical-align: top;
}
.paragraph .sof .sof2{
  display: inline-block;
  margin-right: 3%;
  margin-left: 3%;
  width:25%;
  text-align: justify;
  font-size: 18px;
  vertical-align: top;
}
.col{
  display: inline-block;
  width:25%;
  height: fit-content;
  text-align: justify;
  font-size: 18px;
  vertical-align: top;
  margin-right: 3%;
  margin-left: 3%;
}
.gif{
  height:250px;
  width: 250px;
}
.linkscontainer ul{
  list-style: none;

}
.linkscontainer ul li{
  display: inline-block;
  margin: 2%;
  text-align: justify;
}

.icon{
  width: 50px;
  height: 50px;
}
.iconw{
width: 50px;
}


@media (max-width: 496px) and (max-height: 736px) {
.paragraph{
  width: 80%;
}
.tex{
  width: 75%;
text-align: justify;
}
.background{
  width: 250px;
  height: 250px;
  margin-left: 0%;
}

.small{
  width: 80%;
}

}

@media (max-width: 768px) and (max-height: 1024px) {
  .paragraph{
    width: 80%;
  }
  .small{
    width: 80%;
    height: 12%;
  }
}