header{
    margin: 0 auto;
    text-align: center;
    background-color: black;
    background-repeat: no-repeat;
    background-size: auto;
    }
    body{
    background-color: black;
    background-repeat: no-repeat;
    background-size: auto;
    }
    header h1{
    margin:0;
    font-size: 4rem;
    text-align: left;
    padding-left: 50px;
    }
    header p{
        font-weight: 700;
        font-size: 1.75em;
    }
    header a{
        box-shadow: 0 3px 3px 0 rgba (0, 0, 0, 0.1);
        font-weight: 700;
        background-color: royalblue;
        padding: 1.25rem 2.5rem;
        display: inline-block;
    }
    